<nz-layout style="height: 100%">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" [nzBreakpoint]="'lg'">
    <div class="logo">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
      <li nz-submenu>
        <span title><i class="anticon anticon-user"></i><span class="nav-text">模型展示</span></span>
        <ul>
          <li nz-menu-item>功能一</li>
          <li nz-menu-item>功能二</li>
          <li nz-menu-item>功能三</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i class="anticon anticon-team"></i><span class="nav-text">常用构件</span></span>
        <ul>
          <li nz-menu-item>文件上传</li>
          <li nz-menu-item>..</li>
        </ul>
      </li>
      <li nz-menu-item><span><i class="anticon anticon-file"></i><span class="nav-text">其他</span></span></li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item>BIM内部功能测试</nz-breadcrumb-item>
        <nz-breadcrumb-item>图纸联动</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div style="padding:24px; background: #fff; min-height: 660px;">
          <router-outlet  ></router-outlet>                           
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">SIQIYAOYOA ©2017 NINGBO</nz-footer>
  </nz-layout>
</nz-layout>