<header id="header">
    <div class="">
      <a class="" (click)="toggleNav()"><span></span></a>
      <h1 class="">
          <a routerLink="/">BIMweb:学习测试平台</a>
        </h1>
    </div>
  
    <nav id="nav" class="" role="navigation">
        <ul class="">
          <li>
            <a
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">菜单一</a>
          </li>
          <li>
            <a            
              routerLink="/admin"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">菜单二</a>
          </li>
        </ul>
      </nav>
  
  
  </header>